.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.profile-wraper {
    display: flex;
}

.profile-wraper img {
    border-radius: 50%;
}

.searchWraper {
    display: flex;
    justify-content: center;
}

.detail-box {
	display: flex;
	justify-content: space-around;
}

.search-main {
	display: flex;
	width: 50%;
}

.rooms {
	display: flex;
	width: 50%;
	background-color: #F0F8FF;
	margin-top: 20px;
}